* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
}

.list {
  color: #fff;
  background-color: orange;
  width: 100px;
  padding: 5px;
  position: relative;
}

.menu {
  color: aliceblue;
  width: 100px;
  list-style: none;
}

.menu-box {
border: 1px solid black;
padding: 5px;
margin-top: 10px;
background-color: rgba(255, 166, 0, 0.548);
}

